<div class="d-flex justify-content-center align-content-center mt-5" *ngIf="currentProject | async as project">
<mat-card class="col-4">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ originalTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>project title:</h3><p mat-line>{{ project.title }}</p>
    <h3>project details:</h3><p mat-line>{{ project.details }}</p>
    <h3>percent complete</h3><p mat-line>{{ project.percentComplete }}</p>
    <h3>project approved</h3><p mat-line>{{ project.approved }}</p>
  </mat-card-content>
</mat-card>
</div>
